.servoces-area .services-container {
    text-align: left;
    margin-bottom: 0;
}


.servoces-area .service-text-area h2{
        margin-top: 30px;
    }

.servoces-area .service-text-area h3{
        margin-top: 50px ;
    }

@media (max-width: 768px) {
    .servoces-area .services-container {
        flex-direction: column;
        margin: auto;
    }

    .servoces-area .service-image-area{
        width: 70%;
        margin: 0 auto;
    }

    .servoces-area .service-text-area{
        width: 90%;
        margin: 0 auto;
    }
}

