.item_product_container{
    display: flex;
    text-align: left;
    justify-content: left;
    margin-top: 50px;
    font-family: "EB Garamond", serif;
    font-size: 20px;
}

.item_product_container ol,
.item_product_container ul{
    margin-left: 50px;
}


.products-img-container{
    width: 40%;
}
.products-description-container
{
    width: 55%;
}

.products-img-container img{
    width: 90%;
}