.product-main-container{
    margin-top: 150px;
    background: #f7f7eb;
    font-family: "EB Garamond", serif;
        font-size: 20px;
}

.product-main-container .container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.product-image-container{
    border-radius: 10px;
    width: 35%;
}
.product-description-container{
    width: 100%;
    text-align: left;

}

.product-description-container ul{
    margin: 25px;
}

.product-container{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.product-image-container img{
    border-radius: 10px;
    width: 100%;
}

.vitamin-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
}

.vitamin-table th,
.vitamin-table td {
    border: 1px solid black;
    padding: 8px;
    overflow-wrap: break-word;
    text-align: left;
}

.vitamin-table .col-vit {
    width: 10%;
}

.vitamin-table .col-func,
.vitamin-table .col-source,
.vitamin-table .col-de {
    width: 30%;
}
.products-image-container{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    font-family: "EB Garamond", serif;
}

.opt{
    width: 30%;
    padding-bottom: 50px;
}

.opt a{
    text-decoration: none;
    color: black;
}

.opt img:hover{
    border: black 1px solid;
    box-shadow: 0 0 30px gray;
}


.opt img{
    width: 100%;
}

@media screen and (max-width: 768px) {
    .product-main-container .products-image-container{
        display: flex;
        flex-direction: column;
    }
    .product-main-container .opt{
        width: 70%;
        margin: 0 auto;
    }
}